<html>
  <head>
    <title>form 01</title>
  </head>
  <body>

    <div id="main-div-id">

      <form action="/form01-post.html" method="POST">

        <div>
          <input type="text" id="first-name" />
        </div>

        <div>
          <input type="text" id="last-name" />
        </div>

        <div>
          <textarea id="comments" rows="10" cols="44"></textarea>
        </div>

        <div id="dude">wtf
          <input type="text" id="clear-me" value="clear me" />
        </div>

        <div>
          <input id="submit-button" type="submit" value="Submit" />
        </div>

      </form>

    </div>

  </body>
</html>
