<html>
  <head>
    <title>long page</title>

    <style>
      div {
        border: solid 1px red;
        min-height: 500px;
      }
    </style>

  </head>
  <body>

    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>
    <div>this is a test</div>

  </body>
</html>