<html>
  <head>
    <title>sub element</title>
  </head>
  <body>

    <div class="main-div-class">main class
      <div name="div-sub">main div sub</div>
    </div>

    <div id="main-div-id">main id
      <div id="div-sub">main div sub</div>
    </div>

    <div name="main-div-name">main name
      <div name="div-sub">main div sub</div>
    </div>

    <div><a href="#">link text
      <div name="div-sub">main div sub</div>
    </div>

    <div><a href="#">partial link text
      <div name="div-sub">main div sub</div>
    </div>

    <mytag>my tag
          <div name="div-sub">main div sub</div>
    </mytag>

    <div id="main-div-xpath">main id xpath
      <div name="div-sub">main div sub</div>
    </div>

  </body>
</html>
